@model MvcApplication3.Models.USUARIO

@{
    ViewBag.Title = "Edit";
}

<h2>Editar usuario</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>USUARIO</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigo_usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigo_usuario)
            @Html.ValidationMessageFor(model => model.codigo_usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomusuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomusuario)
            @Html.ValidationMessageFor(model => model.nomusuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigo_cargo, "CARGO")
        </div>
        <div class="editor-field">
            @Html.DropDownList("codigo_cargo", String.Empty)
            @Html.ValidationMessageFor(model => model.codigo_cargo)
        </div>

        <p>
            <input type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
