@model IEnumerable<MvcApplication3.Models.CARGO>

@{
    ViewBag.Title = "ListaMaestraCargos";
}

<h2>Lista de cargos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Cargo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_cargo)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.descripcion)*@
            @Html.ActionLink(item.descripcion, "UsuarioPorCargo", new {cargoStr=item.descripcion})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
